body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

nav{
    float: right;
    margin-right: 10px;
    position:absolute;
    bottom:10px;
    right: 0;

}
header{
    position: fixed;
    width: 100%;
    border-bottom: 1px solid seashell;
    background-color: black;
    top: 0;
    
}
.spacer{
    height: 10px;
}
.left{
    text-align: left;
    margin: 20px;
}
#logo{
    font-size: 50px;
    margin-left: 10px;
    text-align: left;
    float: left;
    margin: 8px 10px;
}
.navLink{
    color:seashell;
    padding: 10px;

}
.tomImage{
    max-height: 200px;
    max-width: 300px;
}
.locationBlock{
    background-color: black;
    width: 300px;
    opacity: 1.0;
    margin: 0 20px;
    padding: 30px 0;
}
#missionContainer{
    height: 700px;
    max-width: 1200px;
    background-image: url(../media/img-mission-background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 69px auto 0 auto;
    display: flex;
    align-items:center;
    justify-items: center;

    
}
#mission{
    background-color: black;
    width: 100%;


}
#teaPics{
    width: 1000px;
    justify-content: space-between;
    margin: auto;
}
#teaPics2{
    width: 650px;
    margin: auto;
    justify-content: space-between;
}
#locations{
    background-image: url('../media/img-locations-background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1200px;
    height: 500px;
    margin: 50px auto;
}
#locationsTable{
    margin: auto;
}